{:aliases
 {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.9"}
                 org.clojure/tools.deps        {:mvn/version "0.24.1523"}}}
  :poly  {:main-opts  ["-m" "polylith.clj.core.poly-cli.core"]
          :extra-deps {polylith/clj-poly {:mvn/version "0.2.21"}}}

  :dev   {:extra-paths ["development/src"]

          :extra-deps
          {;; Component bricks
           poly/alien-vault-otx-json
           {:local/root
            "components/alien-vault-otx-json"}

           poly/app-state {:local/root "components/app-state"}
           poly/database {:local/root "components/database"}
           poly/web-server {:local/root "components/web-server"}

           ;; Base bricks
           poly/rest-api {:local/root "bases/rest-api"}

           org.clojure/clojure {:mvn/version "1.12.1"}}}
  :test  {:extra-paths
          ["components/alien-vault-otx-json/test"
           "components/app-state/test"
           "components/database/test"
           "components/web-server/test"

           "bases/rest-api/test"]}}}
